name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_and_test:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
      - name: Install dependencies
        run: npm install
      - name: NPM Build
        run: npm run build --if-present
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag syamnarayan/kumar:v1
      - name: Docker images list
        run: docker images
      - name: Docker login
        run: |
             docker images
             docker login -u ${{ secrets.docker_hub_username }} -p ${{ secrets.docker_hub_password }}
      - name: Docker push
        run: |
             docker push syamnarayan/kumar:v1
